<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.oplus.uxdesign" />
    </queries>

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:label="Oplus Private API Probe"
        android:supportsRtl="true"
        android:theme="@style/Theme.OplusPrivateApiProbe">

        <activity
            android:name=".ProbeActivity"
            android:exported="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
